header 
{
    background-color: #14591D;
    color: #FFFFFF;
    text-align: center;
    padding-top: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 80px;
    text-decoration: underline;
    font-size: larger;
  }
  .container 
  {
    margin: 24px auto;
    width: 350px;
  }
  li
  {
    color: black;
  }
  #balance
  {
    margin-top: -20px;
  }
  .ie-container
  {
    background-color: #fff;
    border-radius: 10px;        
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .ie-container > div 
  {
    flex: 1;
    text-align: center;
  }
  .ie-container > div:first-of-type 
  {
    border-right: 1px solid #dedede;
  }
  .money 
  {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus 
  {
    color: #2ecc71;
  }
  .list li 
  {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  }
  
  .list li.plus 
  {
    border-left: 5px solid #2ecc71;
  }  
  .list li.minus 
  {
    border-left: 5px solid #c0392b;
  }
  .money.minus 
  {
    color: #c0392b;
  }
  #name, #amount
  {
    font-family: Arial, Helvetica, sans-serif;
  }
  .button
  {
    margin-top: 50px;
    height: 40px;
    width: 350px;
    background-color: rgb(118, 118, 228);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
.productName
{
  font-size: 20px;
}
.productAmount
{
  font-size: 20px;
}